<div class="container mat-elevation-z8">

    <div class="form">
        <span style="font-size: 20px;margin-left:20px">TimeSheet List</span>
        <span class="spacer"></span>

        <mat-form-field floatPlaceholder="never" color="accent" style="margin-left: 50px;">
            <input matInput #filter placeholder="Filter TimeSheet List">
        </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource!" matSort class="mat-cell">

        <ng-container matColumnDef="employeeId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Employee</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.employeeId}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="projectId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Project</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.projectId}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="weekEndingDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Week Ending Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.weekEndingDate | date :'longDate'}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-chip-list aria-label="Fish selection">
                    <mat-chip *ngIf="row.status!=='NEW' && row.status!=='APPROVED' && row.status!=='REJECTED'">No Status
                    </mat-chip>
                    <mat-chip *ngIf="row.status=='NEW'" color="accent" selected>New</mat-chip>
                    <mat-chip *ngIf="row.status=='APPROVED'" color="primary" selected>Approved</mat-chip>
                    <mat-chip *ngIf="row.status=='REJECTED'" color="warn" selected>Rejected</mat-chip>
                </mat-chip-list>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                <button mat-icon-button (click)="addNew()">
                    <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                        (click)="startEdit(i, row.id, row.employeeId, row.projectId, row.weekEndingDate, row.status)">
                        <span>Edit</span>
                    </button>

                    <button mat-menu-item (click)="deleteItem(i, row.id, row.employeeId)">
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>


    <div class="no-results" [style.display]="dataSource?.renderedData?.length == 0 ? '' : 'none'">
        No results
    </div>
    <mat-paginator #paginator
    [length]="dataSource?.filteredData != null ? dataSource?.filteredData!.length :0"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>